<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ws_socket_client/src/com/rl/client/TestSocketClient.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rl.client.TestSocketClient"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ws_socket_client"/>
</launchConfiguration>
